@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body{
    background-color: #f5f2ed !important;
}

.home{
    width: 100%;
    height: 100vh;
    position: relative;
}

nav{
    width: 100%;
    height: 80px;
    padding: 10px 5%;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav h1{
    letter-spacing: 2px;
    font-size: 18px;
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
    line-height: 100%;
    margin: 0px;
    transition: 0.3s ease;
}

nav h1.active{
    color: #d09e13 !important;   
}

nav h1.scroll{
    color: #002039;
}

.outer-nav-link{
    height: 18px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.inner-nav-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s cubic-bezier( 0.71, 0.01, 0.25, 0.99 );
}

.inner-nav-link.active{
    transform: translateY(-100%);
}

.outer-nav-line, .outer-line{
    width: 100%;
    overflow: hidden;
}

.inner-nav-line, .inner-line{
    width: 100%;
    transition: 0.5s ease;
    display: flex;
}

.inner-nav-line.active, .inner-line.active{
    transform: translateX(calc(-100% + -30px));
}

.nav-line, .line{
    min-width: 100%;
    height: 2px;
    background-color: #f1f1f1;
}

.inner-nav-line .nav-line:nth-child(1), .line:nth-child(1){
    margin-right: 30px;
}

.inner-nav-line .nav-line.active{
    background-color: #d09e13 !important;
}

.inner-nav-line .nav-line.scroll{
    background-color: #002039;
}

.nav-menu{
    position: fixed;
    z-index: 98;
    top: 0;
    width: 400px;
    height: 100vh;
    padding: 90px 3% 2%;
    background-color: #edeae5;
    transform: translateX(-100%);
    transition: 0.5s ease;
}

.nav-menu.active{
    transform: translateX(0%);
    transition: 0.5s ease; 
}

.area-nav-menu{
    height: 100%;
}

.area-nav-menu h2{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #a2a2a2;
    margin-bottom: 25px;
}

.outer-nav-menu{
    width: 100%;
    height: fit-content;
    cursor: pointer;
    overflow-x: hidden;
    padding-bottom: 15px;
}

.outer-nav-menu h1{
    font-size: 35px;
    font-family: "Cinzel", serif;
    /* color: #002039; */
    color: rgb(50, 32, 24);
    transition: 0.2s;
}

.outer-nav-menu img{
    width: 30px;
    transform: translateX(100%);
    transition: 0.4s ease-out;
    opacity: 0;
}

.outer-nav-menu img.active{
    transform: translateX(0%);
    opacity: 1;
}

.nav-menu-line{
    width: 100%;
    height: 2px;
    background-color: #cdc8c1;
    border-radius: 30%;
}

.nav-social-media{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-social-media .star-rating{
    width: fit-content;
    margin-bottom: 10px;
}

.inner-star-rating{
    display: flex;
    width: fit-content;
    margin-right: 10px;
}

.nav-social-media .star-rating img{
    width: 13px;
    height: 13px;
    margin: 0px 2px;
}

.star-rating span{
    color: #676767;
    font-size: 12px;
    margin-right: 5px;
}

.star-rating p{
    color: #a2a2a2;
    font-size: 13px;
    margin: 0px;
}

.inner-social-media{
    width: fit-content;
    height: fit-content;
}

.inner-social-media img{
    width: 27px;
    height: 27px;
    margin: 7px;
}

.side-nav-menu{
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 97;
    top: 0;
    transform: translateX(-100%);
    transition: 0.6s ease;
}

.side-nav-menu.active{
    transform: translateX(400px);
}

.inner-side-nav-menu{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.side-nav-menu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: 0.5s cubic-bezier( 0.93, 0.02, 0.25, 1 );
    transform: translateX(-100%);
}

.side-nav-menu img.active{
    transform: translateX(0);
}

.close-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 96;
    background-color: rgba(37, 36, 36, 0.2);
    backdrop-filter: blur(5px);
    display: none;
}

.outer-text-home{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.home video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.inner-text-home{
    width: fit-content;
}

.inner-text-home h1{
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: 400;
}

.about-home{
    height: 110vh;
}

.left-about-home{
    width: 50%;
    height: 100%;
    padding: 3%;
}

.right-about-home{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.left-about-home .text-about-home{
    width: 80%;
    height: 100%;
}

.text-about-home h3{
    font-size: 20px;
    letter-spacing: 1px;
    color: #d09e13;
    font-family: "Cinzel", serif;
}

.text-about-home h1{
    font-size: 55px;
    color: #252424;
    font-family: "Playfair Display", serif;
}

.text-about-home p{
    color: #676767;
}

#btn-about{
    width: fit-content;
    cursor: pointer;
}

#btn-about .line{
    background-color: #d09e13;
}

#btn-about h4{
    font-size: 20px;
    font-family: "Cinzel", serif;
    letter-spacing: 2px;
    color: #c38f00;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#btn-about img{
    width: 20px;
    height: 20px;
    transition: 0.8s ease;
}

#btn-about img.active{
    transform: rotate(180deg);
}

#btn-about img:nth-child(1){
    margin-right: 10px;
}

#btn-about img:nth-child(2){
    margin-left: 10px;
}

.right-about-home img:nth-child(1){
    width: 200px;
    height: 250px;
    transform: translateX(-50%);
    position: absolute;
    object-fit: cover;
}

.right-about-home img:nth-child(2){
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}