@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@font-face {
  font-family: classy;
  src: url('font/classy_vogue/Classyvogueregular.ttf');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f2ed !important;
}

.p-ats {
  padding-top: 90px;
  padding-bottom: 20px;
}

#cursor{
  position: fixed;
  z-index: 101;
  pointer-events: none;
}

.inner-cursor{
  border-radius: 50%;
  background-color: rgba(241, 241, 241, 0.3);
  backdrop-filter: blur(8px);
  width: 80px;
  height: 80px;
  letter-spacing: 2px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: 0.3s ease;
 color: #002039; 
 font-family: classy;
}

.inner-cursor.active{
  transform: scale(1);
}

.transition{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
  top: 0;
  background-color: #002039;
  transition: 0.5s ease;
  clip-path: inset(0 0 0 0);
}

.transition.none{
  display: none;
}

.transition.open-web{
  clip-path: inset(0 0 100% 0);
  transition: 0.s ease;
}

.text-transition{
  width: fit-content;
  overflow: hidden;
  margin-right: 80px;
}

.text-transition h1{
  font-family: classy;
  font-size: 55px;
  color: #dddddd;
  letter-spacing: 1px;
  transform: translateY(100%);
  transition: 0.5s cubic-bezier( 0.73, 0.01, 0.38, 1 );
}

.transition img{
  width: 300px;
  object-fit: cover;
  height: 300px;
  clip-path: inset(100% 0 0 0);
  transition: 0.5s cubic-bezier( 0.73, 0.01, 0.38, 1 );
}

nav {
  width: 100%;
  height: fit-content;
  padding: 20px 5%;
  position: fixed;
  top: 0;
  z-index: 99;
}

nav h1 {
  letter-spacing: 2px;
  font-size: 18px;
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
  line-height: 100%;
  margin: 0px;
  transition: 0.3s ease;
}

nav h1.active {
  color: #d09e13 !important;
}

nav h1.scroll {
  color: #002039;
}

.outer-nav-link {
  height: 18px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.inner-nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s cubic-bezier(0.71, 0.01, 0.25, 0.99);
}

.inner-nav-link.active {
  transform: translateY(-100%);
}

.outer-nav-line,
.outer-line {
  width: 100%;
  overflow: hidden;
}

.inner-nav-line,
.inner-line {
  width: 100%;
  transition: 0.5s ease;
  display: flex;
}

.inner-nav-line.active {
  transform: translateX(calc(-100% + -30px));
}

.nav-line,.nav-line .line {
  min-width: 100%;
  height: 2px;
  background-color: #f1f1f1;
}

.inner-nav-line .nav-line:nth-child(1),.inner-nav-line .line:nth-child(1) {
  margin-right: 30px;
}

.inner-nav-line .nav-line.active {
  background-color: #d09e13 !important;
}

.inner-nav-line .nav-line.scroll {
  background-color: #002039;
}

.nav-menu {
  position: fixed;
  z-index: 98;
  top: 0;
  width: 400px;
  height: 100vh;
  padding: 90px 3% 2%;
  background-color: #edeae5;
  transform: translateX(-100%);
  transition: 0.5s ease;
}

.nav-menu.active {
  transform: translateX(0%);
  transition: 0.5s ease;
}

.area-nav-menu {
  height: 100%;
}

.area-nav-menu h2 {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #a2a2a2;
  margin-bottom: 25px;
}

.outer-nav-menu {
  width: 100%;
  height: fit-content;
  cursor: pointer;
  overflow-x: hidden;
  padding-bottom: 15px;
}

.outer-nav-menu h1 {
  font-size: 35px;
  font-family: "Cinzel", serif;
  color: rgb(50, 32, 24);
  transition: 0.2s;
}

.outer-nav-menu img {
  width: 30px;
  transform: translateX(100%);
  transition: 0.4s ease-out;
  opacity: 0;
}

.outer-nav-menu img.active {
  transform: translateX(0%);
  opacity: 1;
}

.nav-menu-line {
  width: 100%;
  height: 2px;
  background-color: #cdc8c1;
  border-radius: 30%;
}

.nav-social-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-social-media .star-rating {
  width: fit-content;
  margin-bottom: 10px;
}

.inner-star-rating {
  display: flex;
  width: fit-content;
  margin-right: 10px;
}

.nav-social-media .star-rating img {
  width: 13px;
  height: 13px;
  margin: 0px 2px;
}

.star-rating span {
  color: #676767;
  font-size: 12px;
  margin-right: 5px;
}

.star-rating p {
  color: #a2a2a2;
  font-size: 13px;
  margin: 0px;
}

.inner-social-media {
  width: fit-content;
  height: fit-content;
}

.inner-social-media img {
  width: 27px;
  height: 27px;
  margin: 7px;
}

.side-nav-menu {
  width: 300px;
  height: 100vh;
  position: fixed;
  z-index: 97;
  top: 0;
  transform: translateX(-100%);
  transition: 0.6s ease;
}

.side-nav-menu.active {
  transform: translateX(400px);
}

.inner-side-nav-menu {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.side-nav-menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: 0.5s cubic-bezier(0.93, 0.02, 0.25, 1);
  transform: translateX(-100%);
}

.side-nav-menu img.active {
  transform: translateX(0);
}

.close-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 96;
  background-color: rgba(37, 36, 36, 0.2);
  backdrop-filter: blur(5px);
  display: none;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #002039;
}

.outer-text-home {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}

.home video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  clip-path: inset(100% 50% 0 50%);
  transition: 1s ease-in-out;
}

.inner-text-home {
  overflow: hidden;
  width: fit-content;
}

.inner-text-home h1 {
  transform: translateY(100%);
  text-align: center;
  font-family: classy;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: 400;
}

.about-home {
  height: 110vh;
}

.left-about-home {
  width: 50%;
  height: 100%;
  padding: 3%;
}

.right-about-home {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.left-about-home .text-about-home {
  width: 80%;
  height: 100%;
}

.text-about-home h3 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #d09e13;
  font-family: "Cinzel", serif;
}

.text-about-home h1 {
  font-size: 55px;
  color: #252424;
    font-family: classy;
}

.text-about-home p {
  color: #595959;
  font-weight: 300;
}

.btn-line {
  width: fit-content;
  cursor: pointer;
}

.btn-line .line {
  height: 2px;
  min-width: 100%;
  background-color: #d09e13;
}

.btn-line .line:nth-child(1){
  margin-right: 30px;
}

.inner-line.active{
  transform: translateX(calc(-100% - 30px));
}

.btn-line h4{
  font-size: 20px;
  letter-spacing: 2px;
  color: #c38f00;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Cinzel", serif;
}

.btn-line h4 span{
  font-family: "Cinzel", serif;
  line-height: 100%;
  margin-bottom: 10px;
}

.outer-btn-line{
  overflow: hidden;
  height: 20px;
}

.inner-btn-line{
  height: fit-content;
  width: fit-content;
  transition: 0.5s ease;
}

.inner-btn-line.active{
  transform: translateY(-50%);
}

.btn-line img {
  width: 20px;
  height: 20px;
  transition: 0.8s ease;
}

.btn-line img.active {
  transform: rotate(180deg);
}

.btn-line img:nth-child(1) {
  margin-right: 10px;
}

.btn-line img:nth-child(3) {
  margin-left: 10px;
}

.right-about-home img:nth-child(1) {
  width: 200px;
  height: 250px;
  transform: translateX(-50%);
  position: absolute;
  object-fit: cover;
}

.right-about-home img:nth-child(2) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-room {
  width: 100%;
  min-height: 100vh;
  height: 140vh;
  display: flex;
  align-items: center;
}

.home-room .left-home-room, .home-room .center-home-room, .home-room .right-home-room {
  width: 33%;
  height: 100%;
}

.home-room .left-home-room img:nth-child(1), .home-room .right-home-room img:nth-child(2) {
  width: 40%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 40px 10px;
}

.home-room .left-home-room img:nth-child(2), .home-room .right-home-room img:nth-child(1) {
  width: 70%;
  margin: 50px 10px;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.home-room .center-home-room img {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  margin-bottom: 20px;
}

.home-room .center-home-room h1 {
  text-align: center;
    font-family: classy;
  font-size: 55px;
  color: #002039;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.home-room .center-home-room p{
  color: #676767;
  font-weight: 300;
  text-align: center;
  width: 90%;
  line-height: 1.7;
  margin-bottom: 50px;
}

.center-home-room .btn-line img{
  width: 20px;
  height: 20px;
  opacity: 1;
  margin-bottom: 0px;
}

.pembatas-home{
  width: 100%;
  padding: 50px 0px;
}

.pembatas-home .line{
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

.pembatas-home img{
  width: 40px;
  height: 40px;
  margin: 0px 20px;
  opacity: 0.45;
}

.feature-home{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 40px;
}

.feature-home h1{
  text-align: center;
    font-family: classy;
  font-size: 55px;
  color: #002039;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.feature-home p{
  color: #676767;
  font-weight: 300;
  text-align: center;
  width: 40%;
  line-height: 1.7;
  margin-bottom: 50px;
}

.area-feature-home{
  width: 100%;
  height: 100%;
  display: flex;
}

.area-feature-home .box-feature-home{
  aspect-ratio: 3/4;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.area-feature-home .box-feature-home:nth-child(1){
  background-image: url("asset/feature-wedding.webp");
}

.area-feature-home .box-feature-home:nth-child(2){
  background-image: url("asset/feature-dining.jpg");
}

.area-feature-home .box-feature-home:nth-child(3){
  background-image: url("asset/feature-swimming.jpg");
}

.box-feature-home .shaddow-box-feature{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.box-feature-home .text-box-feature{
  width: 100%;
  height: 100%;
  padding: 5%;
  position: absolute;
}

.box-feature-home .text-box-feature.none{
  opacity: 0;
}

.box-feature-home .text-box-feature h1{
  color: #f1f1f1;
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
}

.box-feature-home .text-box-feature p{
  width: 100%;
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 15px;
  color: #edeae5;
  margin-bottom: 0px;
}

.facilities-home{
  width: 100%;
  height: 100%;
}

.text-facilities-home{
  width: 55%;
  text-align: center;
  margin-bottom: 50px;
}

.text-facilities-home h1{
    font-family: classy;
  color: #002039;
  font-size: 55px;
  margin-bottom: 25px;
}

.text-facilities-home p{
  color: #676767;
}

.area-facilities-home{
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.controller-facilities-home{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 4;
}

.shaddow-facilities-home{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 36, 36, 0.4);
}

.img-facilities-swiper{
  width: 100%;
  height: 100%;
}

.img-facilities-swiper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-facilities-swiper{
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: 3;
  text-align: center;
}

.text-facilities-swiper h1{
  color: #fff;
  font-family: "Cinzel", serif;
  font-size: 60px;
  letter-spacing: 2px;
  margin: 0;
}

.about{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-about{
  position: absolute;
  z-index: 2;
}

.text-about h1{
  font-size: 55px;
  color: #f1f1f1;
  text-align: center;
  font-family: classy;
}

.about video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.history{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 70px 0px 20px;
}

.history h1{
  font-size: 55px;
  color: #002039;
  font-family: classy;
  margin-bottom: 20px;
}

.history p{
  color: #676767;
  width: 50%;
  margin-bottom: 30px;
}

.area-history{
  width: 100%;
  height: 800vh;
  position: relative;
}

.outer-history{
  width: 100%;
  position: sticky;
  min-height: 100vh;
  padding: 2% 0px 0px;
  top:0;
}

.outer-history h2{
  font-size: 40px;
  margin-bottom: 15px;
  font-family: classy;
}


.outer-history .inner-time-line{
  width: fit-content;
  margin-bottom: 30px;
}

.inner-time-line h6{
  margin: 0px;
  font-size: 22px;
}

.inner-time-line .line-history{
  width: 300px;
  height: 4px;
  position: relative;
  border-radius: 10px;
}

.line-history .fg-line-history{
  border-radius: 10px;
  width: 0%;
  background-color: #002039;
  height: 100%;
  position: absolute;
}

.line-history .bg-line-history{
  width: 100%;
  height: 100%;
  background-color: #cdc8c1;
  border-radius: 10px;
}

.area-scroll-history{
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.area-history .inner-history{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.box-history{
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-right: 8%;
  margin-left: 3%;
}

.box-history img{
  width: 300px;
  aspect-ratio: 4/5;
  object-fit: cover;
  margin-right: 40px;
}

.box-history .text-box-history{
  width: 400px;
  text-align: justify;
  padding: 3% 0px;
}

.text-box-history h3{
  font-size: 80px;
  color: #002039;
}

.text-box-history p{
  width: 100%;
  color: #676767;
  margin: 0px;
}

.rooms{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shaddow-rooms{
  width: 100%;
  height: 100%;
  background-color: rgba(37, 36, 36, 0.4);
  position: absolute;
}

.rooms video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rooms .text-room{
  position: absolute;
  z-index: 2;
}

.text-room h1{
  font-size: 80px;
  letter-spacing: 2px;
  color: #f1f1f1;
  font-family: classsy;
  text-align: center;
}

.pil-room{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pil-room .row-room{
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.box-room{
  padding: 10px 20px;
  cursor: pointer;
}

.overflow-room{
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.7s ease-out;
}

.overflow-room.margin-0{
  margin-bottom: 10px;
}

.box-room img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: 0.7s ease;
}

.box-room h3{
  font-size: 13px;
  color: #595959;
  letter-spacing: 1px;
}

.box-room h2{
  font-family: classy;
  font-size: 45px;
  color: #002039;
}

.box-room p{
  color: #a2a2a2;
  font-weight: 300;
}

.bg-landing-room{
  width: 100%;
  height: 130vh;
  position: relative;
}

.bg-landing-room img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.bg-landing-room .text-spek-room{
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 50%;
  padding: 3%;
  transition: 0.5s ease;
  color: #002039;
  height: fit-content;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 45%, rgba(245,242,237,1) 100%);
}

.text-spek-room h6{
  font-size: 13px;
  color: #363636;
  font-weight: 400;
  letter-spacing: 1px;
}

.text-spek-room h1{
  font-size: 70px;
  font-family: classy;
  text-align: center;
  margin-bottom: 0px;
  letter-spacing: 2px;
  color: #002039;
}

.sub-spek-room{
  text-align: center;
  margin-bottom: 30px;
}

.text-spek-room p{
  color: #676767;
  font-weight: 300;
  font-size: 14px;
}

.facilities-room{
  width: 100%;
  height: 100%;
  padding: 3%;
  display: flex;
  justify-content: center;
}

.bg-facilities-room{
  width: 30vw;
  aspect-ratio: 3/4;
  margin-right: 60px;
}

.bg-facilities-room img{
  width: 100%;
  height: 100%;
}

.area-facilities-room{
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.area-facilities-room h6{
  color: #a2a2a2;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}

.area-facilities-room h1{
  font-family: classy;
  font-size: 55px;
  margin-bottom: 50px;
}

.list-facilities-room{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.list-facilities-room .box-list-froom{
  padding: 0px 3%;
  margin-bottom: 25px;
}

.box-list-froom img{
  width: 25px;
  margin-right: 15px;
}

.box-list-froom p{
  margin: 0px;
  color: #676767;
  font-size: 14px;
  font-family: classy;
}

.gallery-room{
  width: 100%;
  height: 100%;
  text-align: center;
}

.gallery-room h1{
  font-family: classy;
  font-size: 55px;
  color: #002039;
  margin-bottom: 10px;
}

.gallery-room h2{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #363636;
  text-transform: uppercase;
  font-family: classy;
  margin-bottom: 50px;
}

.gallery-room p{
  color: #a2a2a2;
  width: 45%;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.area-gallery-room{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}

.area-gallery-room img{
  width: 30%;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.area-gallery-room img:nth-child(2){
  transform: translateY(70px);
}

.footer{
  width: 100%;
  height: 100%;
  padding: 5% 3%;
  display: flex;
  flex-direction: column;
}

.footer .top-footer{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.location-footer{
  width: fit-content;
}

.location-footer h1{
  font-family: classy;
  font-size: 40px;
  color: #002039;
  margin-bottom: 10px;
}

.location-footer p{
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 3px;
}

.menu-footer{
  width: 50%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.menu-footer p, .left-bottom-footer p, .right-bottom-footer p{
  color: #363636;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: classy;
  text-transform: uppercase;
  cursor: pointer;
}

.bottom-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-bottom-footer{
  width: fit-content;
  display: flex;
  align-items: center;
}

.left-bottom-footer img{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 13px;
}

.left-bottom-footer p{
  margin: 0px;
}

.location-footer h2{
  font-size: 20px;
  color: #252424;
  font-family: classy;
  margin-bottom: 20px;
}

@media screen and (max-width:998px) {
  #cursor{
    display: none;
  }
.outer-nav-menu h1{
  font-size: 25px;
}

.outer-nav-menu img{
  width: 30px;
  height: 30px;
}

  .inner-text-home{
    width: 70%;
  }

  .text-about-home h3{
    font-size: 15px;
  }

  .text-about-home h1{
    font-size: 35px;
    margin-bottom: 10px !important;
  }

  .text-about-home p{
    font-size: 14px;
  }

  .btn-line h4{
    font-size: 15px;
  }

  .btn-line h4 span{
    margin-bottom: 0px;
  }

  .outer-btn-line{
    height: 15px;
  }

  .home-room .center-home-room img{
    width: 20px;
    height: 20px;
  }

  .home-room .center-home-room h1{
    font-size: 40px;
  }

  .home-room .center-home-room p{
    font-size: 14px;
  }

  .feature-home h1{
    font-size: 40px;
  }

  .feature-home p{
    font-size: 14px;
  }

  .box-feature-home .text-box-feature h1{
    font-size: 30px;
  }

  .box-feature-home .text-box-feature p{
    font-size: 13px;
  }

  .text-facilities-home h1{
    font-size: 40px;
  }

  .text-facilities-home p{
    font-size: 13px;
  }

  .right-about-home img:nth-child(1){
    width: 150px;
    height: 180px;
  }

  .box-history .text-box-history{
    width: 370px;
  }

  .text-transition{
    margin-right: 40px;
  }

  .text-transition h1{
    font-size: 40px;
  }

  .transition img {
    width: 200px;
    height: 200px;
  }

  .row-room{
    flex-wrap: wrap;
  }

  .box-room h3{
    font-size: 11px;
  }

  .box-room h2{
    font-size: 30px;
  }

  .box-room p{
    font-size: 13px;
  }

  .text-room h1{
    font-size: 40px;
  }

  .text-spek-room h1{
    font-size: 40px;
  }

  .text-spek-room h6{
    font-size: 11px;
  }

  .text-spek-room p{
    font-size: 11px;
  }

  .area-facilities-room h1{
    font-size: 40px;
  }

  .gallery-room h1{
    font-size: 40px;
  }

  .gallery-room p{
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .facilities-room{
    flex-direction: column;
    align-items: center;
  }

  .bg-facilities-room{
    margin: 0px;
    margin-bottom: 20px;
  }

  .area-facilities-room{
    width: 70%;
  }

  .area-facilities-room h1, .area-facilities-room h6{
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
    .side-nav-menu{
      display: none;
    }

    .nav-menu{
      width: 100%;
      height: 100vh;
    }

    #reservation{
      display: none !important;
    }

    .about-home{
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
    }

    .left-about-home, .right-about-home{
      width: 100%;
    }

    .right-about-home img:nth-child(1){
      left: 50%;
      transform: translateX(-50%) translateY(50%);
    }

    .left-about-home{
      padding: 80px 3%;
      text-align: center;
    }

    .text-about-home{
      align-items: center;
    }

    .home-room{
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .home-room .left-home-room, .home-room .center-home-room, .home-room .right-home-room{
      width: 100%;
    }

    .feature-home h1{
      font-size: 30px;
      margin-bottom: 10px;
    }

    .feature-home p{
      width: 80%;
    }

    .area-feature-home{
      display: flex;
      flex-direction: column;
    }

    .area-feature-home .box-feature-home{
      aspect-ratio: 1/1;
    }

    .text-facilities-home{
      width: 80%;
    }

    .text-facilities-home h1{
      font-size: 30px;
    }

    .text-facilities-swiper h1{
      font-size: 30px;
    }

    .footer .top-footer{
      flex-direction: column;
      align-items: baseline;
    }

    .footer .bottom-footer{
      flex-direction: column;
      align-items: center;
    }

    .bottom-footer .left-bottom-footer{
      flex-direction: column;
    }

    .bottom-footer .left-bottom-footer div{
      margin-bottom: 10px;
    }

    .location-footer h1{
      font-size: 30px;
    }

    .location-footer h2{
      font-size: 17px;
    }

    .inner-text-home h1{
      font-size: 30px;
    }

    .history h1{
      font-size: 30px;
      width: 80%;
    }

    .history p{
      font-size: 13px;
      width: 80%;
    }

    .box-history img{
      width: 270px;
    }

    .inner-time-line .line-history{
      width: 130px;
    }

    .inner-time-line h6{
      font-size: 15px;
    }

    .box-history .text-box-history{
      width: 280px;
    }

    .text-box-history h3{
      font-size: 50px;
    }

    .text-box-history p{
      font-size: 12px;
    }

    .transition {
      flex-direction: column-reverse;
      justify-content: center;
    }

    .text-transition{
      margin-right: 0px;
      margin-top: 20px;
    }

    .text-transition h1{
      font-size: 30px;
    }

    .text-room h1{
      font-size: 30px;
    }

    .bg-landing-room .text-spek-room{
      width: 100%;
      right: 0;
    }

    .area-facilities-room{
      width: 100%;
    }

    .area-gallery-room{
      padding: 20px 0px;
      flex-direction: column;
      align-items: center;
    }

    .area-gallery-room img{
      width: 80%;
      margin: 20px 0px;
    }

    .bg-facilities-room{
      width: 60%;
    }

    .gallery-room h1{
      font-size: 30px;
    }

    .gallery-room p{
      width: 80%;
      font-size: 11px;
    }

    .text-spek-room h1{
      font-size: 30px;
    }

    .area-gallery-room img:nth-child(2){
      transform: translateY(0);
    }
}
